<a href="https://colab.research.google.com/github/Haafii/Learn.py/blob/main/TASK_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 
Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and,
    - slice its first three rows and display.
    - slice its odd indexed rows.
    - display the dates from 1st postion to 4 th position.

In [15]:
#please provide your answer below this line.
import numpy as np
import pandas as pd
dates = pd.date_range('20190101', periods=6)
dates
df=pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df)
print(df.head(3))
print(df[0:7:2])
print(df[0:4])

                   A         B         C         D
2019-01-01  0.454284 -0.254174  0.162026 -2.172868
2019-01-02 -1.659880  0.689372  0.415554  0.749483
2019-01-03 -0.984434 -0.562907 -0.725334 -0.475097
2019-01-04 -0.264228  0.009536  0.416878  0.422286
2019-01-05  1.204952 -1.973618  0.083872  0.393721
2019-01-06 -1.896438  0.087663 -1.100820 -1.899552
                   A         B         C         D
2019-01-01  0.454284 -0.254174  0.162026 -2.172868
2019-01-02 -1.659880  0.689372  0.415554  0.749483
2019-01-03 -0.984434 -0.562907 -0.725334 -0.475097
                   A         B         C         D
2019-01-01  0.454284 -0.254174  0.162026 -2.172868
2019-01-03 -0.984434 -0.562907 -0.725334 -0.475097
2019-01-05  1.204952 -1.973618  0.083872  0.393721
                   A         B         C         D
2019-01-01  0.454284 -0.254174  0.162026 -2.172868
2019-01-02 -1.659880  0.689372  0.415554  0.749483
2019-01-03 -0.984434 -0.562907 -0.725334 -0.475097
2019-01-04 -0.264228  0.009536  0.416878  0.422286

2. Create a DataFrame by passing a random numpy array,with a datetie index and labelled columns.and
  - Dislplay the index from the 1 to 3 date and the columns A and B of respective data.
  - Display the datas at the 3rd index.
  - Display datas from 2nd to 5th.
  - Display the datas from the index 1,2,4 and the column 0 and 2.

In [31]:
#please provide your answer below thins line.
import numpy as np
import pandas as pd
dates = pd.date_range('20190101', periods=6)
dates
df=pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df)
print(df.iloc[0:3,0:2])
print(df[2:3])
print(df[1:5])
print(df.loc[['2019-01-01','2019-01-02','2019-01-04'],['A','C']])

                   A         B         C         D
2019-01-01 -2.145632 -0.175894 -0.125294 -1.199213
2019-01-02 -0.552096  0.303199 -1.326344  0.439447
2019-01-03  0.456367 -1.464873  0.364794  0.865732
2019-01-04 -1.007938 -0.423156  1.520581  0.140943
2019-01-05 -0.916468 -1.695116 -0.442492  0.306291
2019-01-06  0.771598 -0.637463 -1.561368 -0.065270
                   A         B
2019-01-01 -2.145632 -0.175894
2019-01-02 -0.552096  0.303199
2019-01-03  0.456367 -1.464873
                   A         B         C         D
2019-01-03  0.456367 -1.464873  0.364794  0.865732
                   A         B         C         D
2019-01-02 -0.552096  0.303199 -1.326344  0.439447
2019-01-03  0.456367 -1.464873  0.364794  0.865732
2019-01-04 -1.007938 -0.423156  1.520581  0.140943
2019-01-05 -0.916468 -1.695116 -0.442492  0.306291
                   A         C
2019-01-01 -2.145632 -0.125294
2019-01-02 -0.552096 -1.326344
2019-01-04 -1.007938  1.520581