<a href="https://colab.research.google.com/github/Haafii/Learn.py/blob/main/TASK_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"] and data=[1,3,5,np.nan,6,8] . Create a table with the "index" as indices and data as values.

      Expected output

        India         1.0
        Pakistan      3.0
        Bangladesh    5.0
        Srilanka      NaN
        China         6.0
        Nepal         8.0
        Name: myseries, dtype: float64

In [1]:
#please type your answer below this line.
import pandas as pd
index=['India','Pakistan','Bangladesh','Srilanka','china','Nepal']
data=[1,3,5,'nan',6,8] 
s=pd.Series(data,index,name='myseries',dtype='float64')
s

India         1.0
Pakistan      3.0
Bangladesh    5.0
Srilanka      NaN
china         6.0
Nepal         8.0
Name: myseries, dtype: float64

2. Create a data 'dates' starting from 2021-01-01 with range 6. and create a random 6x4 array and a list=('ABCD').now create a dataframe with 'dates' as index and list as the column and data as the datas of this table.


  Expected output

                        A	       B	      C	      D
    2021-01-01	-0.429358	0.779826	0.389625	0.248792
    2021-01-02	-1.044721	0.272807	-0.370437	1.177273
    2021-01-03	-0.961394	-0.525376	0.120843	0.470060
    2021-01-04	1.842266	-0.551049	0.588390	-0.326937
    2021-01-05	0.986198	0.391301	-0.084837	-0.855573
    2021-01-06	-1.531207	0.905463	-0.099024	0.589219

In [3]:
import numpy as np
import pandas as pd
dates = pd.date_range(start='2021-01-01', end='2021-01-06')
clm=['A','B','C','D']
arr=np.random.rand(6,4)
df=pd.DataFrame(arr,index=dates,columns=clm)
df

                   A         B         C         D
2021-01-01  0.372957  0.890489  0.143891  0.987699
2021-01-02  0.934778  0.007017  0.877602  0.958656
2021-01-03  0.277789  0.173109  0.236371  0.085063
2021-01-04  0.158067  0.493913  0.553821  0.405489
2021-01-05  0.151047  0.796149  0.995425  0.050642
2021-01-06  0.941599  0.834260  0.362592  0.320783