<a href="https://colab.research.google.com/github/Haafii/Learn.py/blob/main/TASK_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a 3x3 array values ranging from 0-8.Find the sum of the elements in this array.

In [1]:
#please enter your code below this line.
import numpy as np

a=np.arange(0,9).reshape(3,3)
print(a.sum())

36

2. Create a 3x3 array values ranging from 0-8.Find the row sum and column sum of this array.

In [2]:
#please enter your code below this line.
import numpy as np

a=np.arange(0,9).reshape(3,3)
print("sum of rows")
print(a.sum(axis=1))
print("sum of columns ")
print(a.sum(axis=0))

sum of rows
[ 3 12 21]
sum of columns
[ 9 12 15]

3. Create a 4x4 array values ranging from 0-15. Now,

    a) Find the mininmum value in the array.
    
    b) Find the maximum value in the array.

    c) Find the mean of the values in the array.

In [3]:
#please enter your code belowthis line.
import numpy as np

a=np.arange(0,16).reshape(4,4)
print(a.min())
print(a.max())
print(a.mean())

0
15
7.5

4. Create an 10x10 array values ranging from 0-99.And ,

    a) Print the 7th row.
    
    b) Print the rows from 4-8.

    c) Print the value at the index 5,5.

    d) Print the 5th colomn.

    e) Print the columns from 2-5.

In [5]:
#please enter your code below this line.
import numpy as np

a=np.arange(0,100).reshape(10,10)
print("7th row is ")
print(a[6,:])
print("rows from 4 to 8")
print(a[3,:])
print(a[4,:])
print(a[5,:])
print(a[6,:])
print("value at index 5,5")
print(a[4,4])
print("5th column ")
print(a[:,4])
print("columns from 2 to 5")
print(a[:,1])
print(a[:,2])
print(a[:,3])
print(a[:,4])

7th row is
[60 61 62 63 64 65 66 67 68 69]
rows from 4 to 8
[30 31 32 33 34 35 36 37 38 39]
[40 41 42 43 44 45 46 47 48 49]
[50 51 52 53 54 55 56 57 58 59]
[60 61 62 63 64 65 66 67 68 69]
value at index 5,5
44
5th column
[ 4 14 24 34 44 54 64 74 84 94]
columns from 2 to 5
[ 1 11 21 31 41 51 61 71 81 91]
[ 2 12 22 32 42 52 62 72 82 92]
[ 3 13 23 33 43 53 63 73 83 93]
[ 4 14 24 34 44 54 64 74 84 94]