<a href="https://colab.research.google.com/github/Haafii/Learn.py/blob/main/TASK_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to find those numbers which are divisible by 7 and multiple of 11, between 1000 and 2000 (both included).

In [1]:
#please enter your answer below this line
for i in range(1000,2001):
    if i%7==0 and i%11==0:
        print(i)

1001
1078
1155
1232
1309
1386
1463
1540
1617
1694
1771
1848
1925

2. Write a program to print this pattern

           #
          ## 
         ###

In [2]:
#please enter your answer below this line
for i in range(1,4):
    print()
    for k in range(4-(i+1)):
        print(" ",end="")
    for x in range(i):
        print("#",end="")

  #
 ##
###

3. list=[apple, orange, apple, banana]
. Replace all the apple in the list with grapes using for loop

In [3]:
#please enter your answer below this line
lis=['apple', 'orange', 'apple', 'banana']
for elmnt in range(len(lis)):
    if lis[elmnt]=='apple':
        lis[elmnt]='grapes'
print(lis)

['grapes', 'orange', 'grapes', 'banana']